.fondo1 {
    background-color: rgb(95, 192, 248);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}
.fondito1{
    background-color: rgb(194, 255, 250);
}
.fondito2 {
    background-color: rgb(194, 255, 250);
}
.fondito3 {
    background-color: rgb(228, 255, 206);
}

#titulopiola {
    color: red;
    font-family: Arial, sans-serif;
}
.resultadoenzoenzo {
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #c8d6e5;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 80%;
    max-width: 500px;
}
#lblNumUno, #lblNumDos {
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

button {
    background-color: #778beb;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background-color: #95a5a6;
}